{% extends 'base.html' %}

{% block content %}
<h2>Add New User</h2>
<form action="{{ url_for('main.add_user') }}" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group">
        <label for="role">Role:</label>
        <select name="role" id="role" required>
            <option value="APPROVER">Approver</option>
           <option value="ADMIN">Admin</option>
        </select>
    </div>

    <div class="form-group">
        <label for="faculty">Faculty:</label>
        <select name="faculty_id" id="faculty" required>
            {% for faculty in faculties %}
                <option value="{{ faculty.id }}">{{ faculty.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add User</button>
</form>
{% endblock %}
