<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoda Account Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>


<body>

  <div class="header">
       {% block yellow_section_content %}
        <h1>Yoda Account Application</h1>
       {% endblock %}
    </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
         {% block navbar_brand %}Yoda Account{% endblock %}
        </a>
        <!-- Navigation items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Define a block for dynamic buttons -->
                {% block navbar_buttons %}
                <!-- Default buttons can go here if any -->
                {% endblock %}
            </ul>
        </div>
    </nav>



    {% block content %}{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>
</html>
